<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411225236883-j652gptriqjll1gvp69h8qgoc07spgsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411225236883-j652gptriqjll1gvp69h8qgoc07spgsk</string>
	<key>API_KEY</key>
	<string>AIzaSyCbIrKlNiIlrtDPJzvJxaHl1XkU8dSmlCs</string>
	<key>GCM_SENDER_ID</key>
	<string>411225236883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bestiosdeveloper.kz.ChatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappwithauthentication</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappwithauthentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411225236883:ios:cfd65300e94e4d07b33466</string>
</dict>
</plist>